.article-detail {
    flex: 1;
    padding: 20px 30px;
    margin-bottom: 20px;
    background: white;
    border: 1px solid #c0c0c0;
}
.article-title {
    font: bolder 28px/2 'Microsoft YaHei';
}
.article-meta-list {
    position: relative;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #c0c0c0;
    box-shadow:inset rgba(0, 0, 0, 0.5) 1px 1px 3px;
}
.article-meta-list::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background: dodgerblue;
}
.meta-list-item {
    margin-bottom: 5px;
    list-style: none;
}
.meta-list-item:last-of-type {
    margin-bottom: 0;
}
.list-link {
    color: dodgerblue;
}
.list-link:hover {
    text-decoration: underline;
}
.article-content h2 {
    font: bolder 22px/2 'Microsoft YaHei';
    margin-bottom: 5px;
}
.article-content h3 {
    font: bolder 18px/2 'Microsoft YaHei';
    margin-bottom: 5px;
}
.article-content p {
    margin-bottom: 15px;
}
.article-content ol {
    margin-left: 10px;
    list-style-type: none;
    counter-reset: sectioncounter;
}
.article-content ul {
    margin-left: 10px;
    list-style-type: circle;
}

.article-content li p {
    display: inline-block;
    word-wrap: break-word;
}
.article-content li ul,
.article-content li ol {
    padding-left: 20px;
}
.article-content ol li {
    margin-bottom: 5px;
}
.article-content ol > li::before {
    content: counter(sectioncounter) '、';
    counter-increment: sectioncounter;
    display: inline-block;
    font-weight: bold;
}
.article-content ul li {
    margin-bottom: 5px;
}
.article-content pre {
    padding: 15px;
    color: white;
    border-radius: 5px;
    background: #eed;
    box-shadow: inset rgba(0, 0, 0, 0.2) 3px 3px 5px;
}
.article-content code {
    font: italic 14px/1 'Microsoft YaHei';
    color: #8b008b;
    margin: 0 2px;
    padding: 0 5px;
    border-bottom: 1px solid #8b008b;
}
.article-content pre code {
    display: inline-block;
    width: 100%;
    font-style: normal;
    line-height: 1.2;
    color: #0099cc;
    margin: 0;
    padding: 0;
    background: transparent;
    border-bottom: none;
}
.article-content hr {
    margin: 15px 0;
    border: none;
    border-bottom: 1px solid #c0c0c0;
}
.article-content a {
    font: 16px/2 'Microsoft YaHei';
    color: dodgerblue;
}
.article-content a:hover {
    color: orangered;
    text-decoration: underline;
}
.article-content img {
    display: block;
    margin: 10px 0;
}
.article-footer {
    font: bold 16px/3 'Microsoft YaHei';
    padding: 0 10px;
    margin-top: 20px;
    border: 1px dashed #c0c0c0;
    border-radius: 5px;
    box-shadow: inset rgba(0, 0, 0, 0.3) -2px -2px 1px;
}
.article-copyright {
    margin-bottom: 0;
}