.search-bar {
    background: white;
}
.search-bar .search-inner {
    float: right;
    padding: 10px 70px 10px 0;
}
.search-bar .search-input {
    float: left;
    width: 225px;
    height: 28px;
    font: 14px/2 '';
    border: 2px solid #c0c0c0;
    text-indent: 2px;
}
.search-bar .search-btn {
    float: left;
    padding: 0 10px;
    font: 14px/2 '';
    border: none;
    color: white;
    background: #c0c0c0;
}
