.header {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 100%;
    padding: 20px 0;
    background-color: white;
    border-bottom: 1px solid dodgerblue;
}
.header-link {
    padding: 5px 20px;
    color: white;
    background: rgba(0, 0, 255, 0.5);
    transform: skew(-15deg);
}
.header-link .header-ti {
    font: bolder 24px/2 '';
}
.nav-bar {
    align-self: flex-end;
}
.header .nav-bar .list-item {
    min-width: 85px;
    float: left;
    text-align: center;
    padding: 5px 15px;
    font-size: 14px;
    border-bottom: 2px solid rgb(255,215,0);
}
.header .nav-bar .list-item:nth-of-type(2n) {
    border-bottom-color: rgb(255,20,147);
}