.admin-aside {
    width: 40%;
    max-width: 250px;
    height: 100vh;
    padding: 20px 0;
    background: white;
    border-right: 1px solid #c0c0c0;
}

.admin-aside .list-item {
    min-width: 85px;
    padding: 0 15px;
    margin-bottom: 10px;
    font: 14px/2 '';
    border-bottom: 2px solid #c0c0c0;
}
.admin-aside .list-item:last-of-type {
    border-bottom: none;
}
.admin-aside .list-item a {
    color: white;
}
