.table {
    width: 100%;
    collapse: both;
    text-align: center;
}
.table th {
    font: bolder 18px/2 '';
    color: white;
    border: 1px solid #c0c0c0;
    background: gray;
}
.table td {
    border: 1px solid #c0c0c0;
    vertical-align: middle;
    font: 14px/2 '';
    padding: 5px 0;
}

.table td a {
    font: 14px/2 '';
    padding: 0 10px;
    margin-right: 10px;
    color: dodgerblue;
    background: white;
    border: 1px solid dodgerblue;
}
.table td a:hover {
    color: white;
    background: dodgerblue;
}