.blog-management-wrapper {
    display: flex;
    background: #ffffff;
}
.management-content-wrapper {
    flex: 1;
    height: 100vh;
    min-height: 600px;
    padding: 20px;
    overflow: auto;
}

.select {
    width: 300px;
    height: 28px;
    border: 1px solid #c0c0c0;
}
.iframe {
    width: 90%;
    height: 500px;
    margin: 20px auto;
}