.img-list-item {
    position: relative;
    flex: 0 0 24%;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #c0c0c0;
}
.img-list-item:last-of-type {
    margin-right: 0;
}
.img-list-inner {
    width: 100%;
    padding: 10px;
    text-align: center;
}
.img-list-item img {
    width: 80%;
    height: 150px;
    display: inline-block;
    vertical-align: middle;
}
.img-list-item .img-name {
    margin: 10px 0;
}
.img-list-item .img-operation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
}
.img-list-item:hover .img-operation {
    display: block;
}
.img-list-item .img-operation button {
    color: white;
    background: rgba(0, 0, 0, 0.5);
}
.img-list-item .img-operation button:first-of-type {
    margin-right: 10px;
}