<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="张静宜">
    <meta name="description" content="张静宜个人前端博客">
    <meta name="keywords" content="张静宜个人前端博客, 前端博客, 张静宜">
    <base href="/">
    <title>张静宜个人前端博客</title>
</head>
<body>
    <div id="root"></div>
    <!--<script src="http://localhost:8080/webpack-dev-server.js"></script>-->
    <!--<script src="/lib/lib.js"></script>-->
</body>
</html>