 .article-item {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 0;
    border: 1px solid #c0c0c0;
    border-bottom: none;
    box-shadow: none;
}
.article-item:last-of-type{
    border-bottom: 1px solid #c0c0c0;
}
.article-item > div {
    font: 12px/3 'Microsoft YaHei';
}
.btn {
    padding: 3px 5px;
    font: 12px/1.5 'Microsoft YaHei';
    color: white;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    background: dodgerblue;
}