.me-container {
    background: #333333;
    margin-bottom: 15px;
}
.me-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.me-avatar {
    width: 60%;
}
.contact-list {
    width: 100%;
    margin: 15px 0 10px 0;
}
.contact-list .list-tiem {
    float: left;
    position: relative;
    width: 33.333%;
    text-align: center;
}
.contact-list .fa {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    color: white;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
.contact-list .contact-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100px;
    height: 100px;
}
.contact-img-wrapper .contact-img {
    width: 100%;
    height: 100%;
    display: block;
    vertical-align: middle;
}
.me-inner .date {
    color: white;
}