.blog-header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    background: white;
}
.blog-header .overlay {
    position: absolute;
    width: 100%;
    height: 150px;
    background: black;
}
.blog-header .header-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 100;
}

.blog-header .avatar-link,
.avatar-link .avatar {
    width: 128px;
    height: 128px;
    display: block;
    vertical-align: middle;
    border-radius: 50%;
    background: black;
}
.blog-header .avatar-link {
    margin-top: 50px;
}
.avatar-link .avatar {
    border: 5px solid #ffffff;
}
.blog-header .header-ti {
    margin: 15px 0;
    font: 26px/2 '';
    text-decoration: underline;
}
.blog-header .header-ti a {
    color: #696969;
}
.nav-bar .list-item {
    font: 16px/2 '';
}
.nav-bar .list-item a {
    color: #696969;
}
.nav-bar .list-item a:hover {
    color: black;
}


