.article-item {
    padding: 10px 30px;
    margin-bottom: 15px;
    border: 1px solid #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px;
    background: white;
}
.article-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 56px;
    margin-bottom: 15px;
}
.article-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 4px;
    height: 56px;
    background: black;
}
.article-title{
    font: 22px/56px  'Microsoft YaHei';
}
.article-title a {
    color: #333333;
}
.article-title a:hover {
    color: dodgerblue;
}
.article-time {
    font: 15px/56px  'Microsoft YaHei';
}
.calendar {
    display: inline-block;
    width: 20px;
    height: 16px;
    margin-right: 8px;
    background: transparent url(../../../../static/imgs/icon.png) no-repeat -10px -74px;
}
.article-img-link {
    display: block;
    width: 80%;
    max-width: 600px;
    padding: 15px;
    border: 1px solid #eaeaea;
}
.article-img {
    display: block;
    width: 100%;
}
.article-foreword {
    font: 15px/1.8  'Microsoft YaHei';
    margin: 15px 0;
}
.article-tag-list {
    font: 15px/2  'Microsoft YaHei';
}
.tag-item {
    padding: 3px 13px;
    margin-right: 5px;
    color: white;
    border-radius: 5px;
    background: #ff945c;
}
.tag-item:hover {
    box-shadow: inset yellow -1px -1px 5px;
}