.filter-list .list-item {
    padding: 10px 10px;
    border-bottom: 1px solid #c0c0c0;
}
.filter-list .list-item:last-of-type {
    border-bottom: none;
}

.filter-list .list-item:hover {
    color: white;
    background: #c0c0c0;
}